/* Application styles could go here */

.search-form {
    margin-top: 1.8em;
}
.query-result {
 color: gray;
 margin: 1em;
}

.present, .absent {
 color: #0083CB;   
}

.input-group {
    margin-top: 8px;
}

.search-form .input-group input .form-control {
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
}

.input-group label {
    width: 60px;
    display: block;
    float: left;
    color: gray;
}

mark {
    background-color: #D6E9C6;
}

.input-group .form-control {
    width: 60%;
    padding-right:0;
    padding-top:0;
    padding-bottom:0;
}

label {
    width: 7em;
}

.input-group-btn {
    padding-top: 1em;
}